body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#calculator {
    width: 600px;
    height: 800px;
    border-radius: 40px;
    background-color: #D9D9D9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    justify-content: center;
    width: 580px;
    background-color: white;
    margin-bottom: 25px;
}

.display.small {
    height: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 1px;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    font-size: 32px;
}

.display.big {
    height: 100px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-right: 20px;
    font-size: 86px;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    word-wrap: break-word;
}

.section {
    margin-bottom: 25px;
    display: flex;
    width: 600px;
    justify-content: space-between;
}

button {
    width: 125px;
    height: 100px;
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 30px;
    font-size: 32px;
}

button:hover {
    background-color: grey;
    color: white;
}

.clear {
    width: 600px;
    background-color: #FFD033;
}

.clear:hover {
    background-color: #ba9722;
    color: black;
}

.operator {
    background-color: #6D6D6D;
    color: white;
}

.operator:hover {
    background-color: #9c9c9c;
    color: black;
}

.erase {
    background-color: #FF5233;
    color: white;
}

.erase:hover {
    background-color: #a63521;
}