body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 600px;
    height: 800px;
    border-radius: 40px;
    background-color: #D9D9D9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    justify-content: center;
    width: 600px;
    background-color: white;
    margin-bottom: 25px;
}

.display.Small {
    height: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 1px;
}

.display.Big {
    height: 100px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.section {
    margin-bottom: 25px;
    display: flex;
    width: 600px;
    justify-content: space-between;
}

button {
    width: 125px;
    height: 100px;
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 30px;
    font-size: 32px;
}

.clear {
    width: 600px;
    background-color: #FFD033;
}

.operator {
    background-color: #6D6D6D;
    color: white;
}

.erase {
    background-color: #FF5233;
    color: white;
}